body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.header {
    display: grid;
    margin-top: 2vh;
    align-content: center;
    grid-template-columns: 25% 75%;
    grid-row-gap: 1.5vh;
}
.logo{
    border: solid;
    text-align: center;
}
.header-img{
    border: solid;
    border-left: none;
    grid-column-end: span 2;
    text-align: center;
}
.nav {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
    display: grid;
    background-color: #CCCCCC;
    grid-template-columns: auto auto auto auto;
}
.nav > div {
    text-align: center;
}
.menu {
    align-self: center;
    display: inline-block;
}
    .menu a:hover {
        background-color: #99000a;
    }
.section {
    margin-top: 1vh;
    display: grid;
    height: 60vh;
    grid-template-columns: 75% 25%;
    border: solid;
}
.section2 {
    display: grid;
    border-left: solid;
    grid-template-rows: 15% 25% 25% 35%;
    grid-row-gap: 2vh;
}
    .section2 .login{
        border-bottom:solid;
}
    .section2 .username {
        border-bottom: solid;
    }
    .section2 .password {
        border-bottom: solid;
    }
.footer {
    margin-top: 1vh;
    border: solid;
}
